<!DOCTYPE html>
{% extends "pressure/base.html" %}

{% block title %}
  About this app
{% endblock %}

{% block header-nav %}
  <li><a href="/pressure/">Home</a></li>
  <li><a href="/pressure/plot/">Plot</a></li>
  <li class="active"><a href="#">About</a></li>
  <li><a href="#">Register</a></li>
{% endblock %}

{% block body %}
  <h1 class="cover-heading">About this app.</h1>
  <p class="lead">This app is designed to</p>
  <p class="lead">
    test Django-based applications with Twitter bootstrap css templates and learn how to use it
    here and there. Besides, this app is able to memorize blood pressure measurments in order to plot dynamics based on a period of time.
  </p>
{% endblock %}
