<!DOCTYPE html>
{% extends "pressure/base.html" %}

{% block title %}
  New record
{% endblock %}

{% block header-nav %}
  <li class="active"><a href="#">Home</a></li>
  <li><a href="/pressure/plot/">Plot</a></li>
  <li><a href="/pressure/about/">About</a></li>
  <li><a href="#">Register</a></li>
{% endblock %}

{% block body %}
  <h1 class="cover-heading">Save up your blood pressure data.</h1>
  <p class="lead">Use the form below to add record to a database.</p>
  <p class="lead">
    <form class="post-form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="button" class="btn-lg btn-default">Submit</button>
    </form>
  </p>
{% endblock %}
