<!DOCTYPE html>
{% extends "pressure/base.html" %}

{% block title %}
  Plotter
{% endblock %}

{% block header-nav %}
  <li><a href="/pressure/">Home</a></li>
  <li class="active"><a href="#">Plot</a></li>
  <li><a href="/pressure/about/">About</a></li>
  <li><a href="#">Register</a></li>
{% endblock %}

{% block body %}
  <h1 class="cover-heading">Plot your bood pressure dynamics.</h1>
  <p class="lead">Choose date ranges as you desire.</p>
  <p class="lead">
    Some content is coming this way
  </p>
{% endblock %}
